<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express events</title>
</head>
<body>

  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/events">events</a>
      <a href="/events/new">Add event</a>
    </nav>
  </header>

  <main>
    <h1>Events Index Page</h1>

    <% if (events.length) { %>
      <% for (let i = 0; i < events.length; i++) { %>

        <a href="/events/<%= events[i]._id %>">
          <h4><%= events[i].name %></h4>
        </a>
        

        <h1>Events index page</h1>

        <% if (events.length) { %>
          <% for (let i = 0; i < events.length; i++) { %>

            <a href="/events/<%= events[i]._id %>">
              <h4><%= events[i].title %></h4>

        
        
                
			        <% if(events[i].attending === true){ %>
				        You have an event
			       
			        <% } %>
			    <!--  ADD DELETE FORM HERE-->
          <form action="/events/<%=i; %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE"/>
          </form>
                <!-- Add edit link here  -->
			        <a href="/events/<%= i; %>/edit">Edit</a>
                
        <% } %>
        
            <% } else { %>
      <h4>No events coming up</h4>
    <% } %>
    </body>

        <!-- Delete Button -->
        <form style="display: inline-block;" method="POST" action="/events/<%= events[i]._id %>?_method=DELETE">
          <button type="submit">Delete</button>
        </form>
  
        <a href="/events/<%= events[i]._id %>/edit">
          <button>Edit</button>
        </a>
  
  
        <hr/>
      <% } %>
    <% } else { %>
      <h4>Sorry, doesn't look like we have any event</h4>
    <% } %>

    
    

  </main>

</body>

</html>